<ion-tabs>
  <ion-tab [root]="tab1root" tabTitle="Home" tabIcon="home" ></ion-tab>
  <ion-tab [root]="tab2root" tabTitle="Live Activity" tabIcon="home" ></ion-tab>
  <ion-tab [root]="tab3root" tabTitle="Me" tabIcon="person" ></ion-tab>
</ion-tabs>
