page-navigation {

    .nav_btn{
        //width:60%;
        //font-size: 16px;
        padding: 75% 27%;
        border-radius:1.5em;
    }
    //forbid scroll;
    .scroll-content{
        overflow: hidden;
    }

    // .nav_btn {
    //     background-color: #E3E1B8;
    // }
}
