page-register {

    .button-container {
        display: flex;
        flex-direction: column;
      }
      
      .logo-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 24px 0;
      }
      
      .logo-container img {
        width: 100px;
      }
}
