
<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Email</ion-label>
      <ion-input [(ngModel)]="email" type="email" placeholder="Email Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Password</ion-label>
      <ion-input [(ngModel)]="password" type="password" placeholder="Password Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Re Enter Password</ion-label>
      <ion-input [(ngModel)]="rePassword" type="password" placeholder="Password Input"></ion-input>
    </ion-item>
  </ion-list>

  <div class="button-container" padding>
    <button (click)="signUp()" ion-button>Register</button>
  </div>
</ion-content>
