
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="logo-container">
    <img src="assets/imgs/logo-new.png" alt="Logo">
    <h3>Bicy-Eco.</h3>
  </div>

  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" placeholder="Email Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" placeholder="Password Input"></ion-input>
    </ion-item>
  </ion-list>

  <div class="button-container" padding>
    <button (click)="login()" ion-button>Login</button>
    <button (click)="toSignIn()" ion-button color="secondary">Sign Up</button>
  </div>
</ion-content>
