<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="http://images.unsplash.com/photo-1523988358732-309cbc3c92f0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&h=300&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=b44451f177e0027894931eaa471d2b69"
    />
    <ion-card-content>
      <ion-card-title>
        Travel
      </ion-card-title>
      <p>
        Watch the most beautiful scenery
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="http://images.unsplash.com/photo-1523547743064-d0936dbb6ed3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&h=300&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=15ea90edba860c87a0632cb5a82c6790"
    />
    <ion-card-content>
      <ion-card-title>
        Cherry blossoms
      </ion-card-title>
      <p>Participate in the fun of cherry blossom festival
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="http://images.unsplash.com/photo-1523575708161-ad0fc2a9b951?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=85a1727fc0620fc852f979bf2b98d31b"
    />
    <ion-card-content>
      <ion-card-title>
        Furniture
      </ion-card-title>
      <p>
        Buy and use the latest furniture
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
