<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gallery</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-card *ngFor="let item of lists; let i=index">
    <ion-img [src]="item.src">
    </ion-img>
   
  </ion-card>
</ion-content>
