page-information {

    .toolbar-title-md{
        text-align: center;
    }
    
    .scroll-content{
        overflow: hidden;
    }

    .bg-color{
        background-color: #efeeee;
    }

    .top-list{
        margin-top: 15px;
    }

    .ionitem_text{
        margin-left: 5%;
    }

    .log_out_text{
        text-align: center;
        font-weight: bolder;
        //color: brown;
    }
    
}
