<ion-header>
  <ion-navbar>
      <ion-title>
          Personal
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <ion-list class="top-list">
      <button ion-item [navPush]="userInfoPage">
          <ion-thumbnail item-start>
              <img src="./assets/icon/shuying.png">
          </ion-thumbnail>
          <h2>{{id}}</h2>
          <p>Account：{{email}}</p>
      </button>
  </ion-list>

  <ion-list>
      <ion-item>
          <ion-icon name="logo-twitter" style="color: #55acee"></ion-icon> 
          <span class="ionitem_text">Share</span>
      </ion-item>
      <button ion-item>
          <ion-icon name="compass" style="color: #31a56e"></ion-icon>
          <span class="ionitem_text">donation</span>
      </button>
      <button ion-item>
          <ion-icon name="cube" style="color: #584f60"></ion-icon>
          <span class="ionitem_text">activity</span>
      </button>
  </ion-list>

  <ion-list>
      <button ion-item>
          Version
          <span  item-end>V1.0</span>
      </button>
      <button ion-item>
          About
      </button>
  </ion-list>

  <ion-item class="log_out_text" (click)="handleLogout()">
      <span>Log Out</span>
  </ion-item>

  <!-- <div style="text-align: center; margin-left: 30px; margin-right: 30px;margin-top: 60px;">
      <button ion-button block (click)="handleLogout()">
          LOGOUT
      </button>
  </div> -->
</ion-content>